$color-background: #F8F4EC;
$color-pink-light: #FF9BD2;
$color-pink-dark: #D63484;
$color-brown-dark: #402B3A;


$color-black: #0B0C10;
$color-dgray: #1F2833;
$color-lgray: #C5C6C7;
$color-azure: #66FCF1;
$color-aqua: #45A29E;


